.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    border: red;
}

body{
    background-image: url('../assets/images/background-bamboo-surface-mat.jpg');
}

header {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bold;
    color: red;
    text-align: center;
}