* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  h1 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bold;
    color: yellow;
    text-align: center;
    margin-top: 20%;
    }  
  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    min-width: 100px;
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: yellow;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }

  .btn {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bold;
    color: yellow;
    text-align: center;
    margin-top: 20%;
    text-align: center;
    border: 2px solid yellow;
  }
  
  .monkeyking {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bold;
    font-size: large;
    color: yellow;
    text-align: center;
    margin-top: 20%;
    border-style: dashed;
  }
